.foodDisplay {
  width: 90%;
  margin: 3.7vmax auto;
}

.foodDisplay h2 {
  font-size: 2vw;
  background: rgb(213, 249, 201);
  text-align: center;
  padding: 1vw;
  margin-bottom: 4vw;
  border-radius: 7px;
}

.foodDisplayList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.5vw;
  margin-top: 30px;
}
